.grid {
  display: grid;
}

.grid-area {
  grid-template-areas:
  "A B"
  "A C";
  gap: 32px;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.text-2xl {
  font: var(--text-h1);
}

.text-xl {
  font: var(--text-h2);
}

.text-lg {
  font: var(--text-h3);
}

.text-span {
  font: var(--text-span);
}

.text {
  font: var(--text);
}

.text-sm {
  font: var(--text-paragraph);
}